name: Publish Docker image

on:
  push:
    branches: [main]

jobs:
  build:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v2
        with:
          images: mastermole/my_httpd_server 
          
     
      - name: Copy our repo
        uses: actions/checkout@v2
      - name: Setup . NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'
      - name: Install dependencies
      - run: dotnet restore ./WebSiteMeta
      - name: Build
      - run: dotnet build --configuration Release --no-restore ./WebSiteMeta
       
       
      - name: Push Docker image
        run: docker push my_httpd_server
